POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sms_db
POSTGRES_PORT=5433
POSTGRES_HOST=db

DATABASE_URL=postgres://postgres:postgres@db:5432/sms_db

API_PORT=3000
WEB_PORT=3001

API_URL=http://10.0.2.2:3000